@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&family=Source+Sans+Pro:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;1,200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

im

*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(26, 26, 26);
    font-family: sans-serif;

}
.container{
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
    padding-right: 1%;
    box-sizing: border-box;
    overflow: hidden;

}




.navbar{
  width: 100%;
  display: flex;
  align-items: center;
}

.loo{
  width: 260px;

  
}

.menu-icon{
  width: 35px;

}


nav{
  flex: 1;
  text-align: right;
}

nav ul li{
  list-style: none;
  display: inline-block;


  margin-right: 40px;
}
span{
  color: #5c76fa;

}

nav ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 17px;
}
nav ul li a:hover{
  color: #5c76fa;
  transition-duration: 0.5s;
}


.row{
  display: flex;
  justify-content: space-between;
  font-family: 'Josefin sans', sans-serif;
  font-weight: 800;

  align-items: center;
  margin: 100px 0;
}

.col-1{
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}

.col-1 h2{
  font-size: 54px;
  color: #fff;
}
.col-1 h3{

  font-size: 30px;
  color: #f0f0f0;
  font-weight: 100;
  margin: 20px 0 10px;

}


.col-1 p{

  font-size: 19px;
  color: #7088ff;
  font-weight: bolder;
  
}


.col-1 h4{
  color: #fff;
  margin: 30px 0;

  font-size: 3px;
  
}

button{
  width: 160px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #5c76fa, #4564ff);
  border-radius: 6px;
}
button:hover{
  background-color: #3053ff;
  transition-duration: 0.4s;
}
button a{
  text-decoration: none;
  color: #fff;
}

.col-1::after{
  content: '';
  width: 10px;
  height: 57%;
  background: linear-gradient(#5c76fa, #4c6aff);
  position: absolute;
  left: -40px;
  top: -10px;
}


.col-2{
  position: relative;
  background-color: rgba(46, 27, 27, 0);
  flex-basis: 60%;
  display: flex;
  align-items: center;

}

.col-2 .controller{
  width: 50%;

}



.color-box{
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(#5c76fa, #4665ff);
  border-radius: 20px;
  height: 100%;
  width: 80%;
  z-index: -1;
  transform: translateX(150px);
}






.social-links img{
  height: 23px;
  margin: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;


}

.social-links{
  text-align: center;
}








*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --ff-sans: "Josefin Sans", sans-serif;
  --ff-dosis: "Dosis", sans-serif;
  --ff-rale: "Raleway", sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #000;
  --clr-accent: #5c76fa;

  --fs-h1: 3rem;
  --fs-h2: 2.5rem;
  --fs-h3: 1.5rem;
  --fs-body: 1rem;

  --bs-light: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  --bs-heavy: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.05),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.03);
}
@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.8rem;
    --fs-body: 1.25rem;
  }
}
@media (min-width: 1200px) {
  :root {
    --fs-h1: 5.2rem;
    --fs-h2: 4rem;
    --fs-h3: 2rem;
    --fs-body: 1.4rem;
  }
}
@media (min-width: 1500px) {
  :root {
    --fs-h1: 5.5rem;
    --fs-h2: 4.2rem;
    --fs-h3: 2.15rem;
    --fs-body: 1.5rem;
  }
}
@media (min-width: 1750px) {
  :root {
    --fs-h1: 5.75rem;
    --fs-h2: 4.35rem;
    --fs-h3: 2.25rem;
    --fs-body: 1.75rem;
  }
}
@media (min-width: 2000px) {
  :root {
    --fs-h1: 6.1rem;
    --fs-h2: 4.35rem;
    --fs-h3: 2.25rem;
    --fs-body: 1.9rem;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  background: var(--clr-dark);
  color: var(--clr-light);
  margin: 0;
  font-size: var(--fs-body);
  line-height: 1.6;
}

:focus {
  outline: none;
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

  .logo img {
    position: absolute;
    height: 3px;
    width: auto;
  }


@media (min-width: 300px) {
  .logo img {
    position: absolute;
    height: 3px;
    width: auto;
  }

  .logo {
    margin: 0.5em;
    width: fit-content;
    display: initial;
  }
}

@media (min-width: 500px) {
  .logo img {
    position: absolute;
    height: 100px;
    width: auto;
  }

  .logo {
    margin: 0.5em;
    width: fit-content;
    display: initial;
  }
}
#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.nav {
  position: fixed;
  color: var(--clr-accent);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style-type: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}
.nav__link {
  color: var(--clr-light);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
  transition: all 0.2s;
}
.nav__link:hover {
  color: var(--clr-accent);
}
.hamburger {
  display: block;
  position: relative;
  margin: 2em;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 4em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 18px;
}
.hamburger::after {
  bottom: 18px;
}

.nav-open .nav {
  transform: translateX(0%);
}
.nav-open .nav-toggle {
  position: fixed;
}
.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-18px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

/* PARTICLES IFRAME */
section.iframe-container {
  height: calc(100vh - 9px);
}
iframe.fullscreen {
  border: none;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}

/* Text */
section.guild-text {
}

.intro {
  padding: 32px 8px;
  margin: 0 auto;
  max-width: 80%;
  width: 80%;
}

.intro-title {
  text-align: center;
  padding-bottom: 0.4em;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 4px;
}

p.text {
  font-family: sans-serif;
}

/* Quote */
blockquote {
  background: transparent;
  color: white;
  border-left: 4px solid var(--clr-accent);
  margin: 0 auto;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  max-width: 60%;
  width: 60%;
  font-size: var(--fs-h3);
}

blockquote:before {
  color: var(--clr-accent);
  font-family: sans-serif;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
  
  
font-family: 'Raleway', sans-serif;

}

/* Stuff */
.org-title,
.project-title {
  text-align: center;
  color: var(--clr-accent);
  margin: 16px 0;
}

.org-grid,
.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.organization,
.notable-project {
  flex: 1 1 400px;
  flex: 0 1 400px;
  margin: 16px;
}

.org-name,
.project-name {
  text-align: center;
  letter-spacing: 2px;
  padding: 12px 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.org-logo-container,
.project-logo-container {
  width: 400px;
  height: 400px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

section.orgs,
section.projects {
  padding-bottom: 32px;
  margin-bottom: 4px;
}

/* FOOTER */
.main {
  max-height: 550px;
  color: var(--clr-light);
  font-size: 38pt;
  text-align: center;
  line-height: 550px;
}
footer {
  bottom: 0;
}
.footer-distributed {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}
.footer-left h2{
  font-family: 'Raleway', sans-serif;

}

.footer-distributed h2 {
  color: var(--clr-light);
  margin: 0;
}

.footer-distributed h2 span {
  color: var(--clr-accent);
}

.footer-distributed .footer-links {
  color: var(--clr-light);
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #111419;
  color: var(--clr-light);
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: var(--clr-light);
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: var(--clr-accent);
  text-decoration: none;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: var(--clr-light);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  color: #ffffff;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
}

/* SPECIAL */
hr.hr {
  border: 1px solid var(--clr-accent);
  border-radius: 2px;
  margin: 0 auto;
  width: 50%;
}




























