@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&family=Source+Sans+Pro:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;1,200&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --ff-sans: "Josefin Sans", sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #000;
  --clr-accent: #ff14ff;

  --fs-h1: 3rem;
  --fs-h2: 2.5rem;
  --fs-h3: 1.5rem;
  --fs-body: 1rem;

  --bs-light: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  --bs-heavy: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.05),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.03);
}
@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.8rem;
    --fs-body: 1.25rem;
  }
}
@media (min-width: 1200px) {
  :root {
    --fs-h1: 5.2rem;
    --fs-h2: 4rem;
    --fs-h3: 2rem;
    --fs-body: 1.4rem;
  }
}
@media (min-width: 1500px) {
  :root {
    --fs-h1: 5.5rem;
    --fs-h2: 4.2rem;
    --fs-h3: 2.15rem;
    --fs-body: 1.5rem;
  }
}
@media (min-width: 1750px) {
  :root {
    --fs-h1: 5.75rem;
    --fs-h2: 4.35rem;
    --fs-h3: 2.25rem;
    --fs-body: 1.75rem;
  }
}
@media (min-width: 2000px) {
  :root {
    --fs-h1: 6.1rem;
    --fs-h2: 4.35rem;
    --fs-h3: 2.25rem;
    --fs-body: 1.9rem;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: var(--clr-dark);
  color: var(--clr-light);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

:focus {
  outline: none;
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.logo {
  display: none;
}

@media (min-width: 300px) {
  .logo img {
    position: absolute;
    height: 50px;
    width: auto;
  }

  .logo {
    margin: 0.5em;
    width: fit-content;
    display: initial;
  }
}

@media (min-width: 500px) {
   .logo img {
    position: absolute;
    height: 100px;
    width: auto;
  }

  .logo {
    margin: 0.5em;
    width: fit-content;
    display: initial;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.nav {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  color: var(--clr-accent);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style-type: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}
.nav__link {
  color: var(--clr-light);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
  transition: all 0.2s;
}
.nav__link:hover {
  color: var(--clr-accent);
}
.hamburger {
  display: block;
  position: relative;
  margin: 2em;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-light);
  width: 4em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 18px;
}
.hamburger::after {
  bottom: 18px;
}

.nav-open .nav {
  transform: translateX(0%);
}
.nav-open .nav-toggle {
  position: fixed;
}
.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-18px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

/* OPENING STATEMENT */
section.opening {
  width: 60%;
  max-width: 60%;
  margin: 0 auto;
  height: 300px;
  text-align: center;
  display: grid;
  place-items: center;
  width: 65%;
  max-width: 65%;
}
.opening-statement {
  font-family: var(--ff-sans);
}

@media (min-width: 1500px) {
  section.opening {
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
    height: 400px;
    text-align: center;
    display: grid;
    place-items: center;
  }
  .opening-statement {
    font-family: var(--ff-sans);
  }
}

/* PARTICLES IFRAME */
iframe.fullscreen {
  border: none;
  width: 100vw;
  height: 100vh;
}

/* FOOTER */
footer.home {
  height: 100px;
  text-align: center;
}
footer.home p {
  color: var(--clr-accent);
  font-size: 
}
