* {
	margin: 0;
	padding: 0;
}
:root {
	--clr-accent: #000000;/* Change the site's accent color */
	--clr-light: #ffffff;
	--clr-dark: #111111;
}
body {
	background-image: url(logo.jpg);
	background-size: cover;
	background-repeat: none;
	background-position: center center;
}
