* {
	margin: 0;
	padding: 0;
}
:root {
	--clr-accent: #a0b4fa;/* Change the site's accent color */
	--clr-light: #ffffff;
	--clr-dark: #111111;
}
body {
}
div.link a {
	color: var(--clr-light);
	text-decoration: none;
	font-size: 24px;
	transition: all 0.3s;
}
div.link a:hover {
	color: var(--clr-accent);
}
